#root {
  max-width: 2500px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.profile-container {
    width: 400px;
    margin: 10px auto;
    padding: 20px 25px;
    background-color: #ded7d7;
    border-radius: 10px;
}

