#root {
  max-width: 2500px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.head {
  color: aqua;
}
.welcome {
  color: rgb(70, 227, 12);
}
.footer {
  color: brown;
}
